In [26]:
import pandas as pd

In [27]:
df = pd.read_csv('./total/2021-11-22_2021-11-24.csv')

In [28]:
df_address = pd.DataFrame(df[['Target']].values.tolist() + df[['Source']].values.tolist(), columns=['address'])

df_address = df_address.drop_duplicates()
df_address = df_address.reset_index(drop=True)
ids = range(1, len(df_address) + 1)
idx = 0
df_address.insert(loc=idx, column='node_id', value=ids)
df_address

        node_id                                     address
0             1  0xC8d656F78d3974D4842880841f5b1b404094204E
1             2  0xd1293D57ecf8a594dE004CB60E290709B4d22379
2             3  0x910A1c80dB382236E177b734666b29902D15E376
3             4  0x4C6968510615A75e76e3b1b03AA5280E5BF36C56
4             5  0x4F46d125b6CF3dACCD7A1D747575E5F7A8b3378a
...         ...                                         ...
384650   384651  0xffe93BFd9b7fF0cfCAFAEBAB1d9Fe7712480b9f8
384651   384652  0xffeA665Fb104A6570528C53941772F17b9F4e8cC
384652   384653  0xfff10a024aD55174eEb29655Eca5f6A952B5FD94
384653   384654  0xfffE4863Ec5148edf12C4F674747A059Cf893238
384654   384655  0xfffEa5eFb1F3b5aF046C5DC2298982E513696265

[384655 rows x 2 columns]

In [29]:
df_copy = df.copy()
df_copy['Target'] = df_copy['Target'].map(df_address.set_index('address')['node_id']).combine_first(df_copy['Target']).astype(
    int)
df_copy['Source'] = df_copy['Source'].map(df_address.set_index('address')['node_id']).combine_first(df_copy['Source']).astype(int)
# df_copy = df_copy[df_copy['times']>3]
df_copy.to_csv('第四阶段.csv', index=False)
df_copy

        Source  Target  Weight
0       212815       1       1
1       212815       2       1
2        23520       3       3
3       121812       4       1
4       294165       5       1
...        ...     ...     ...
665551   10271    2006       2
665552   10271    6105       1
665553   10271   23448       1
665554   10271   80103       1
665555  271271   18893       1

[665556 rows x 3 columns]

In [30]:
import networkx as nx
import matplotlib.pyplot as plt

In [31]:
G = nx.from_pandas_edgelist(df_copy,'Source','Target',edge_attr=['Weight'],create_using=nx.DiGraph)
print(nx.info(G))

DiGraph with 384655 nodes and 665556 edges

In [32]:
avegre_degree = G.degree()
sum_of_edges = sum(dict(avegre_degree).values())
print(sum_of_edges/53852)

24.717967763499963